.vs/AccordLogisticRegression/v16/.suo   .vs/AccordLogisticRegression/v16/Server/sqlite3/db.lock   .vs/AccordLogisticRegression/v16/Server/sqlite3/storage.ide
.vs/AccordLogisticRegression/v16/Server/obj/Debug/AccordLogisticRegression.csprojAssemblyReference.cache
obj/Debug/AccordLogisticRegression.exe
obj/Debug/AccordLogisticRegression.pdb
bin/Debug/LearnedParams.csv
bin/Debug/AccordLogisticRegression.exe
bin/Debug/AccordLogisticRegression.pdb
.vs/AccordLogisticRegression/v16/Server/
.vs/obj/Debug/AccordLogisticRegression.csprojAssemblyReference.cache
.vs/
obj/Debug/AccordLogisticRegression.csprojAssemblyReference.cache
bin/Debug/ex2regmaptrainNoones.save
bin/Debug/*.save
bin/Release/*.*
obj/Release/*.*
bin/Debug/LRTrain.exe
bin/Debug/LRTrain.pdb
obj/Debug/LRTrain.csproj.FileListAbsolute.txt
obj/Debug/LRTrain.exe
obj/Debug/LRTrain.pdb
obj/Debug/LRTrain.csprojAssemblyReference.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/LRTrain.csproj.CoreCompileInputs.cache