.vs/AccordLogisticRegression/v16/.suo   .vs/AccordLogisticRegression/v16/Server/sqlite3/db.lock   .vs/AccordLogisticRegression/v16/Server/sqlite3/storage.ide
.vs/AccordLogisticRegression/v16/Server/obj/Debug/AccordLogisticRegression.csprojAssemblyReference.cache
obj/Debug/AccordLogisticRegression.exe
obj/Debug/AccordLogisticRegression.pdb
bin/Debug/LearnedParams.csv
bin/Debug/AccordLogisticRegression.exe
bin/Debug/AccordLogisticRegression.pdb
.vs/AccordLogisticRegression/v16/Server/
.vs/obj/Debug/AccordLogisticRegression.csprojAssemblyReference.cache
.vs/
obj/Debug/AccordLogisticRegression.csprojAssemblyReference.cache